.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0; /* Cor de fundo da página */
  width: 98vw; /* 100% da largura da viewport */
  height: 98vh; /* 100% da altura da viewport */
  margin: 0; 
  padding: 0; 
}

.title-container {
  background-image: url("https://i.imgur.com/ItoeRUl.jpg"); /* Imagem de fundo */
  background-size: cover;
  background-position: center bottom;
  padding: 0%;
  text-align: center;
  color: white; /* Cor do texto */
  width: 100%;
  font-family: 'MinecraftFont';
}

.description-container {
  background-color: #63482e; /* Cor de fundo do container de descrição */
  padding: 20px;
  margin: 20px;
  border: 2px solid #05de0d; /* Borda ao redor do retângulo */
  /* Outras propriedades de estilização para o container de descrição */
}

.description {
	font-size: 90%;
}

.knapsack {
	display: flex;
	justify-content: flex-start;
	border: 1px solid #de1717; 
	width: 100%;

}

.plant-container {
	border: 3px solid #6f4206; 
	padding-right: 20%;
	background-color: #ffff; /* Cor de fundo da página */
  margin: 0;
}

.handle-game {
  display: flex;
  flex-direction: column;
	border: 1px solid #cf09d5; 
	width: 65%;
  background-color: #f0f0f0;

}

.handle-result {
	border: 1px solid #020202; 
}

/* 
body {
	font-family: 'MinecraftFont', sans-serif;
} */

@font-face {
	font-family: 'MinecraftFont';
	src: url('./assets/minecraft_font.ttf') format('truetype');
  }