.plant-image {
	/* Defina o tamanho desejado para as imagens */
	width: 20%; /* Largura em pixels */
	height: 20%; /* Altura automática para manter a proporção original */
  }

.plant {
	font-size: 45%;
}